
<h2 style="text-align: center;">{{name}} ({{symbol}})</h2>
<table class="u-full-width detail-list">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Date</th>
      <th>Open</th>
      <th>Close</th>
      <th>Adjusted Close</th>
      <th>High</th>
      <th>Low</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{symbol}}</td>
      <td>{{date}}</td>
      <td>${{open}}</td>
      <td>${{close}}</td>
      <td>${{adjClose}}</td>
      <td>${{high}}</td>
      <td>${{low}}</td>
      <td>{{volume}}</td>
    </tr>
  </tbody>
</table>