<div class="stock">
  <h2>{{name}} - {{symbol}}</h2>
  <div>Date: {{date}}</div>
  <div>Open: {{open}}</div>
  <div>Close: {{close}}</div>
  <div>Adjusted Close: {{adjClose}}</div>
  <div>High: {{high}}</div>
  <div>Low: {{low}}</div>
  <div>Volume: {{volume}}</div>
</div>