<form>
  <div class="row">
    <label class="u-full-width" for="addStocks">Get stock data from Yahoo Finance</label>
    <input type="text" class="u-full-width" placeholder="AAPL AMZN GOOGL TSLA ..." id="addStocks"></input>
    <input class="button-primary" type="submit" value="Submit">
  </div>
</form>

<table class="u-full-width" id="stock-list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Close</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {{#each stocks}}
    <tr>
    <td>{{name}}</td>
    <td>{{symbol}}</td>
    <td>${{close}}</td>
    <td><a href="/stocks/{{symbol}}">{{name}} details</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>